@charset "UTF-8";
.aa-row {
    display: flex;
    box-sizing: border-box;
    gap: 16px;
    margin-bottom: 16px;
}

.aa-col-1 {
    width: 8.33333333%;
}
.aa-col-2 {
    width: 16.66666667%;;
}
.aa-col-3 {
    width: 25%;
}
.aa-col-4 {
    width: 33.33333333%;
}
.aa-col-5 {
    width: 41.66666667%;
}
.aa-col-6 {
    width: 50%;
}
.aa-col-7 {
    width: 58.33333333%;
}
.aa-col-8 {
    width: 66.66666667%;
}
.aa-col-9 {
    width: 75%;
}
.aa-col-10 {
    width: 83.33333333%;
}
.aa-col-11 {
    width: 91.66666667%;
}
.aa-col-12 {
    width: 100%;
}


@media screen and (max-width:980px) {
    .aa-row-md {
        flex-direction: column;
        align-items: center;
    }
    .aa-col-4-md {
        width: 100%;
        max-width: 500px;
    }
    .header .container-max-width {
        flex-direction: column;
    }
    .logoAA-blanco {
        margin-bottom: 30px;
    }
}   

@media screen and (max-width:680px) {
    .aa-row-sm {
        flex-direction: column;
    }
    .aa-col-4-sm {
        width: 100%;
    }
}

